<p>Hello,</p>
<p>please click {user} to confirm registration from your website</p>
<p>This is a <strong>Discount</strong> email.</p>
<p>The request was on {testDate}.</p>
<p><br /></p>
<p>Regards,</p>
<p>Discount </p>
